.link {
  &:hover,
  &:focus {
    color: $text-color-accent;
  }
}

.container-centered {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
